
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ultra&display=swap');
@font-face {
  font-family: CamptonBold;
  src: url('./assets/fonts/Rene Bieder - Campton Bold.otf');
}
@font-face {
  font-family: CamptonMedium;
  src: url('./assets/fonts/Rene Bieder - Campton Medium.otf');
}
*{
  margin:0;
}
h1,h2,h3, h4, h5, h6{
  font-family: 'CamptonBold', sans-serif;
}
p,input,button{
  font-family: 'CamptonMedium', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background:'white';
}

